<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>::::SUBSERVE::::</title>
</head>
<body>
    <!-- navbar -->
    {% include 'navbar.html' %}

    <!-- searchbox -->
    <div class="searchcenter">
      <div class="grid-2">
        <form class="grid-3" action="{% url 'search' %}" method="post">
          {% csrf_token %}
          <div>
            <select name="search-type" id="search-type">
              <option value="total">통합</option>
              <option value="store">식당</option>
              <option value="menu">메뉴</option>
            </select>
          </div>
          <input
            type="text"
            placeholder="# 검색어를 입력하세요."
            autofield
            id="search-box"
            name="q"
            value="{{q}}"
          />
          <button type="submit" class="searchbutton">검색</button>
        </form>
      </div>
      {% block content %} 
        {% if not stores %} 
          {% if not menus %}

          <h1>검색 결과가 없습니다</h1>
          {% else %}
            {% for menu in menus.all %}
              <div class="container">
                <div class="card">
                  <div class="card-body">
                    <h1>{{ menu.menu_name }}</h1>
                    <p>{{ menu.description }}<a href="{% url 'detail' menu.store_id.id %}"> ...자세히 보기</a></p>
                  </div>
                </div>
              </div>
              <br />
            {% endfor %}{% endif %}
        {% else %} 
          {% for store in stores.all %}
            <div class="container">
              <div class="card">
                <div class="card-body">
                  <h1>{{ store.storename }}</h1>
                  <p>{{ store.description }}<a href="{% url 'detail' store.id %}"> ...자세히 보기</a></p>
                </div>
              </div>
            </div>
            <br />
      {% endfor %}  {% endif %} {% endblock %}
    </div>


    <!-- footer -->
    {% include 'footer.html' %}
</body>

<style>
    .grid-3 {
        display: grid;
        grid-template-columns: 100px 1fr 100px;
    }
    
    #search-box {
        border: 5px solid #a6c2cd;
        width: 500px;
        max-width: 100%;
    }
    .searchcenter{
        display: block;
        margin: 70px auto 500px auto;
    }

    .searchbutton{
        color: #A6C2CD;
        border: #A6C2CD solid 1px;
        background-color: white;
    }

    .searchbutton:hover{
        color: white;
        background-color: #A6C2CD;
    }

</style>
