{% extends 'base.html' %}

{% block content %}
  <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">이지환</h4>
      <hr>
      <p>생년월일</p>
      <p class="mb-0">1996.07.22</p>
      <hr>
      <p>한국항공대학교</p>
      <p class="mb-0">소프트웨어학과</p>
  </div>
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">천연기념물 제 329호</div>
    <div class="card-body text-primary">
      <h5 class="card-title">반달가슴곰</h5>
      <p class="card-text">아시아흑곰의 아종이다  . 몸길이 약 1.9 m, 꼬리길이 약 8 cm이다. 불곰에 비해 작다.</p>
    </div>
  </div>
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">우리집 보물1호</div>
    <div class="card-body text-primary">
      <h5 class="card-title">토이푸들 라떼</h5>
      <p class="card-text"> 몸은 늘씬하지만 근육질이다. 부럽다.</p>
      </div>
    </div>
{% endblock %}
