<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>이주의 섭섭</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report"></a>
            </h6>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>구독 list</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report" id="subscribing"
                    onclick="openMoreMenu(this)">more</a>
            </h6>
            <div id="sidebar-span-subscribing">
                <li class="nav-item">
                    구독 서비스 관련 내용
                </li>
                <li class="nav-item">
                    구독 서비스 관련 내용
                </li>
                <li class="nav-item">
                    구독 서비스 관련 내용
                </li>
            </div>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>wishlist</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report" id="wishlist"
                    onclick="openMoreMenu(this)">more</a>
            </h6>
            <div id="sidebar-span-wishlist">
                <li class="nav-item">
                    구독 서비스 관련 내용
                </li>
                <li class="nav-item">
                    구독 서비스 관련 내용
                </li>
                <li class="nav-item">
                    구독 서비스 관련 내용
                </li>
            </div>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>카테고리</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report" id="category"
                    onclick="openMoreMenu(this)">more</a>
            </h6>
            <div id="sidebar-span-category">
                <li class="nav-item">
                    cafe
                </li>
                <li class="nav-item">
                    fastfood
                </li>
                <li class="nav-item">
                    cocktail bar
            </div>
            </li>
        </ul>
    </div>
    <script>
        function openMoreMenu(el) {
            let id = el.id;
            document.getElementById('sidebar-span-'+id).classList.toggle('hide');
        }
    </script>
    <style>
        .hide {
            display: none;
        }
    </style>
</nav>