<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span class="sidebar-title">이주의 섭섭</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report"></a>
            </h6>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span class="sidebar-title">구독 list</span>
                <a class="d-flex align-items-center text-muted more-btn" href="#" aria-label="Add a new report" id="subscribing"
                    onclick="openMoreMenu(this)">more</a>
            </h6>
            <div id="sidebar-span-subscribing">
                <li class="nav-item">
                    구독 서비스 관련 내용
                </li>
                <li class="nav-item">
                    구독 서비스 관련 내용
                </li>
                <li class="nav-item">
                    구독 서비스 관련 내용
                </li>
            </div>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span class="sidebar-title">wishlist</span>
                <a class="d-flex align-items-center text-muted more-btn" href="#" aria-label="Add a new report" id="wishlist"
                    onclick="openMoreMenu(this)">more</a>
            </h6>
            <div id="sidebar-span-wishlist">
                <li class="nav-item">
                    구독 서비스 관련 내용
                </li>
                <li class="nav-item">
                    구독 서비스 관련 내용
                </li>
                <li class="nav-item">
                    구독 서비스 관련 내용
                </li>
            </div>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span class="sidebar-title">카테고리</span>
                <a class="d-flex align-items-center text-muted more-btn" href="#" aria-label="Add a new report" id="category"
                    onclick="openMoreMenu(this)">more</a>
            </h6>
            <div id="sidebar-span-category">
                <li class="nav-item">
                    cafe
                </li>
                <li class="nav-item">
                    fastfood
                </li>
                <li class="nav-item">
                    cocktail bar
            </div>
            </li>
        </ul>
    </div>
    <script>
        function openMoreMenu(el) {
            let id = el.id;
            document.getElementById('sidebar-span-'+id).classList.toggle('hide');
        }
        function initSidebar() {
            var sidebarMenu = document.getElementById('sidebarMenu');
            var main = document.getElementById('main');
            main.style.position = 'relative';
            main.style.left = '0px';
            sidebarMenu.style.position = 'relative';
            sidebarMenu.style.left = '0px';
        }

        // 사이드바 숨기고 열고 숨기고 열고
        let showSidebar = 1;
        function sidebar() {
            let width = sidebarMenu.offsetWidth + 50;
            if(showSidebar == 0) {
            // appear
            main.style.left = parseInt(main.style.left) + width/2 + 'px';
            sidebarMenu.style.left = parseInt(sidebarMenu.style.left) + width + 'px';
            } else {
            //disappear
            main.style.left = parseInt(main.style.left) + -width/2 + 'px';
            sidebarMenu.style.left = parseInt(sidebarMenu.style.left) + -width + 'px';
            }
            showSidebar = (showSidebar+1)%2;
        }

        window.onload = initSidebar;
    </script>
    <style>
        .hide {
            display: none;
        }
        #sidebarMenu {
            position: relative;
            background-color: white;
        }
        .sidebar-title {
            font-size: larger;
            color: #A6C2CD;
        }
        .more-btn {
            font-size: small;
        }

        h6 {
            margin: 0;
            padding: 0;
        }
        .nav-item{
            color: #A6C2CD;
        }
    </style>
</nav>